<html>
  <head>
    <link rel="stylesheet" href="../styles/common/reset.css">
    <link rel="stylesheet" href="../styles/top.css">
  </head>
  <body>
    <header>
    </header>
    <main>
      <section>
        <h1>Create Account</h1>
        <div class="auth_form">
          <form action="/v1/register" method="post">
            <label for="user_id">UserId</label>
            <input type="text" name="user_id">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="password">Password</label>
            <input type="text" name="password">
            <input type="submit" value="Register">
          </form>
        </div>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
