<html>
  <head>
    <link rel="stylesheet" href="../styles/common/reset.css">
    <link rel="stylesheet" href="../styles/top.css">
  </head>
  <body>
    <header>
    </header>
    <main>
      <section>
        <h1 class="main_ttl">
          MyPage
        </h1>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
