<html>
  <head>
    <link rel="stylesheet" href="../styles/common/reset.css">
    <link rel="stylesheet" href="../styles/top.css">
  </head>
  <body>
    <header>
      <ul>
        <li>
          <form action="/v1/logout" method="post">
            <input type="submit" value="ログアウト">
          </form>
        </li>
      </ul>
    </header>
    <main>
      <section>
        <h1 class="main_ttl">
          MyPage
        </h1>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
