<html>
  <head>
    <link rel="stylesheet" href="../styles/common/reset.css">
    <link rel="stylesheet" href="../styles/top.css">
  </head>
  <body>
    <header>
    </header>
    <main>
      <section>
        <h1 class="main_ttl">
          To Do App
        </h1>
        <div class="auth_form">
          <form action="/v1/login" method="post">
            <label for="name">UserID</label>
            <input type="text" name="user_id">
            <label for="password">Password</label>
            <input type="text" name="password">
            <input type="submit" value="Login">
          </form>
        </div>
      </section>
      <div>
        <a href="/v1/create_account_page">Create Account</a>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
